body { overflow:hidden; margin:0 }

* { transition:.3s all ease; }

#banner {
    position:relative;
    height:100vh;
    background-image:linear-gradient(
        to bottom,
        #0a0204,
        #56169ae5,
        #5a0869
    );
}

#logo {
    position:absolute;
    top:10px;
    bottom:10px;
    left:10px;
    right:10px;
    box-sizing:border-box;
    border:2px solid;
    color:transparent;
}

#logo-wrap {
    position:absolute;
    height:100%;
    width:100%;
    font:100px Raleway, sans-serif;
    text-transform:uppercase;
    text-align:center;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
}

#logo-wrap span { overflow:hidden; }

.biggo {
    font-weight:bold;
    color:#bdff3a;
    opacity:0;
}

.play #forsta {
    animation:.5s ease 2s 1 forwards fadedown; 
}
.play #andra { 
    animation:.5s ease 2.5s 1 forwards fadeup; 
}

.smol {
    font-weight:normal;
    color:#f70202;
    width:0;
    white-space:pre;
}

.play .smol {
    animation:1.2s ease 3s 1 forwards expand;
}

#subhead {
    opacity:0;
    position:absolute;
    font-size:40px;
    margin-top:-70px;
    margin-left:141px;
    text-transform:lowercase;
    color:#ad3d8e;
}

.play #subhead {
    animation:1.5s ease 4.3s 1 forwards fadein;
}

#subhead:before {
    content:'';
    position:absolute;
    border-top:3px solid #eee;
    width:270px;
    left:-280px;
    top:.7em;
}

@keyframes fadedown {
    0% { margin-top:-.5em; }
    100% {
        opacity:1;
        margin-top:0;
    }
}

@keyframes fadeup {
    0% { margin-top:.5em; }
    100% { 
        opacity:1;
        margin-top:0; 
    }
}

@keyframes expand {
    0% { width:0; opacity:0; letter-spacing:-.8em; }
    30% { opacity:.3; }
    100% { width:298px; opacity:1; letter-spacing:auto; }
}

@keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
